In [ ]:
import pandas as pd
from pandas_explore import explore_string_id

**1) only string entries**  
The function should display that the column contains only string values

In [2]:
data = {
    'column': [
        "apple", "banana", "cherry", "date", "banana", "grape", 
        "kiwi", "apple", "melon", "apple", "plum", "pear", 
        "berry", "citrus", "melon", "berry", "kiwi", "date"
    ]
}

df = pd.DataFrame(data)

explore_string_id(df['column'])

**2) non-string entries**  
The function should display that the column contains non-string values and their occurence count (1 -> 3 | 15.0 -> 1)

In [3]:
data = {
    'column': [
        "apple", "banana", "cherry", "date", "banana", "grape", 
        "kiwi", "apple", "melon", "apple", "plum", "pear", 
        "berry", "citrus", "melon", "berry", "kiwi", "date", 1, 1, 1, 15.0
    ]
}

df = pd.DataFrame(data)

explore_string_id(df['column'])

**3) string lengths**  
The function should display the occuring string lengths

In [4]:
data = {
    'column': [
        "a",
        "ab",
        "abc"
    ]
}

df = pd.DataFrame(data)

explore_string_id(df['column'])

**4) no duplicates**  
The function should display that the string entries contain no duplicates.

In [5]:
data = {
    'column': [
        "a",
        "ab",
        "abc",
        None, None
    ]
}

df = pd.DataFrame(data)

explore_string_id(df['column'])

**5) duplicates**  
The function should display the duplicates occuring in the string entires ("a").

In [6]:
data = {
    'column': [
        "a","a",
        "ab",
        "abc",
        None, None
    ]
}

df = pd.DataFrame(data)

explore_string_id(df['column'])

**6) empty column**  
The function should display that the column is empty

In [7]:
data = {
    'column': []
}

df = pd.DataFrame(data)

explore_string_id(df["column"])